@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


$h1font-color: #FFFFFF;
$pfont-color: #FFFFFF;
$h2font-color: #39729bff;

h1{
 margin: 100px 0 0 0;
 display: flex;
 justify-content: center;
}
body{
  overflow-x: hidden;
  background: rgb(15,5,107);
  background: linear-gradient(rgba(15,5,107,1) 1%, rgba(95,187,226,1) 25%, rgba(124,220,240,1) 77%, rgba(231,247,249,1) 98%);
  margin: 0;
}
h1{
  color: $h1font-color;
  font-size: 52px;
  font-family: 'Sansita', sans-serif;
}
h2{
  color: $h2font-color;
  font-size: 45px;
  font-family: 'Sansita', sans-serif;
}
p{
  color: $pfont-color;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
#linesvg {
  overflow: visible;
  width: auto;
  height: auto;
  max-width: 80%;
  margin: 50vh 40px 100vh 40px;
  stroke-dasharray: 20;
  position: absolute;
}
p{
  z-index: 1;
  margin-top: 80px;
  width: 700px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.text{
  width: 100%;
  display: flex;
  justify-content: center;
}
.bouton-primaire{
  cursor: pointer;
  margin: 55px 15px 15px 15px;
  transition: 0.7s;
  background-color : #FFFFFF;
  border : 2px;
  border-radius : 20px;
  color : #60BDE2;
  font-size : 15px;
  width : 300px;
  height : 50px;
  &:hover {
    background-color : #60BDE2;
    border : 1px solid #FFFFFF;
    color : #FFFFFF;
  }
  z-index: 1;
}

// NOTE: circles
.circle-sky{
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    background-color: #60AAFF;
  }
.circle-sky-around-circle{
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    border: 8px solid #60AAFF;
    background-color: rgba(0, 0, 0, 0);
  }
.circle-light{
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    background-color: #66C4E5;
  }
.circle-light-around-circle{
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    border: 8px solid #66C4E5;
    background-color: rgba(0, 0, 0, 0);
  }
.circle-white{
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
  }
.circle-white-around-circle{
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    border: 8px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
  }

section.index{

  // NOTE: images de nuages
  section.nuages{
    img{
      position: absolute;
      width: 400px;
    }
    img:nth-child(1){
      left: 30%;
      top: 70px;
      transition: 1.6s;
    }
    img:nth-child(2){
      left: 70%;
      transition: 1.4s;
    }
    img:nth-child(3){
      top: 250px;
      transition: 0.5s;
    }
  }

  // NOTE: image de l'eolienne
  section.Eolienne{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    img:nth-child(2){
      width: 800px;
      z-index: 2;
    }
    img:nth-child(1){
      top: 200px;
      z-index: 1;
      width: 900px;
      position: absolute;
    }
  }

  // NOTE: section de la presentation de l'Eolienne
  section.Windy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .titre-eolienne{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    h2{
      margin: -50px 0 0 0;
      color: $h2font-color;
      font-size: 55px;
      font-family: 'Sansita', sans-serif;
      z-index: 2;
    }
    .circle-transparent-white{
      width: 160px;
      height: 160px;
      border-radius: 100%;
      background-color: $pfont-color;
      opacity: 0.5;
      right: 5%;
      margin-top: -90px;
      position: absolute;
    }
    .circle-transparent-blue{
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: $h2font-color;
      opacity: 1;
      right: 13%;
      margin-top: -105px;
      position: absolute;
    }
    .circle-light:nth-of-type(1){
      width: 110px;
      height: 110px;
      margin-top: -70px;
      margin-left: -60px;
    }
    .circle-light-around-circle:nth-of-type(2){
      width: 114px;
      height: 114px;
      margin-top: -80px;
      margin-left: -60px;
    }
    .circle-light:nth-of-type(3){
      width: 90px;
      height: 90px;
      margin-top: -55px;
      margin-left: 100px;
    }
    .circle-light-around-circle:nth-of-type(4){
      width: 94px;
      height: 94px;
      margin-top: -65px;
      margin-left: 100px;
    }
    .boutons-eolienne{
      display: flex;
      justify-content: center;
      img{
        position: absolute;
        z-index: 0;
      }
      img:nth-child(1){
        left: 70%;
        top: 1400px;
        transition: 1.6s;
        width: 270px;
      }
      img:nth-child(2){
        left: 80%;
        top: 1450px;
        transition: 1.4s;
        width: 320px;
      }
      img:nth-child(3){
        top: 1300px;
        transition: 0.5s;
        width: 250px;
      }
    }
  }

  // NOTE: section du pourquoi l'eolienne
  section.Pourquoi{
    margin-top: 250px;
    .text{
      margin-top: 120px;
    }
    .titres-Pourquoi{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    h2{
      z-index: 2;
      position: relative;
    }
    .titre-pourquoi{

    }
    .circle-white{
      width: 90px;
      height: 90px;
      margin-top: -88px;
      margin-left: 303px;
    }
    .circle-white-around-circle{
      width: 94px;
      height: 94px;
      margin-top: -98px;
      margin-left: 293px;
    }
    .circles-white{
      display: flex;
      flex-wrap: wrap;
    }
    .titre-situation{
      margin-top: 100px;
      h2{
        text-align: right;
        font-size: 30px !important;
      }
    }
    .circle-transparent-blue{
      width: 160px;
      height: 160px;
      border-radius: 100%;
      background-color: $h2font-color;
      opacity: 1;
      left: 1%;
      margin-top: 65px;
      position: absolute;
    }
    .circle-transparent-white{
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: $pfont-color;
      opacity: 0.5;
      left: 7%;
      margin-top: 30px;
      position: absolute;
    }
  }

  // NOTE: section des moyens mis en place
  section.Moyen{
    margin-top: 250px;
    .titres-moyen{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-left: 20%;
    }
    .titre-moyen{
      .circle-white{
        width: 90px;
        height: 90px;
        margin-top: -108px;
        margin-left: -23px;
      }
      .circle-white-around-circle{
        width: 94px;
        height: 94px;
        margin-top: -118px;
        margin-left: -33px;
      }
      h2{
        z-index: 2;
        position: relative;
      }
    }
    .text{
      margin-top: 120px;
    }
    .circle-sky{
      width: 160px;
      height: 160px;
      border-radius: 100%;
      opacity: 1;
      left: 75%;
      margin-top: -145px;
      position: absolute;
    }
    .circle-transparent-white{
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: $pfont-color;
      opacity: 0.5;
      left: 80%;
      margin-top: -20px;
      position: absolute;
      z-index: 2;
    }
  }

  // NOTE: section du dessin
  section.Dessin{
    display: flex;
    height: 600px;
    margin-top: 650px;
    .plaine-petit{
      display: flex;
      position: absolute;
      width: 800px;
      min-width: 50%;
      height: 700px;
      border-radius: 50% 50% 0% 0%;
      background-color: #00B94A;
      left: -10%;
      z-index: 0;
      img:nth-child(1){
        width: 400px;
        position: absolute;
        padding-left: 50px;
        margin-top: -200px;
        z-index: 1;
      }
      img:nth-child(2){
        position: absolute;
        padding-left: 350px;
        margin-top: 20px;
        z-index: 1;
      }
    }
    .plaine-grand{
      position: absolute;
      width: 1100px;
      min-width: 80%;
      height: 700px;
      border-radius: 50% 50% 0% 0%;
      background-color: #00D957;
      right: -10%;
      img{
        width: 100px;
      }
      img:nth-child(1){
        width: 1700px;
        margin-top: -750px;
        position: absolute;
        padding-left: 50px;
        z-index: 1;
      }
      img:nth-child(2){
        position: absolute;
        padding-left: 300px;
        z-index: 1;
      }
      img:nth-child(3){
        position: absolute;
        margin-top: 40px;
        padding-left: 380px;
        z-index: 2;
      }
      img:nth-child(4){
        position: absolute;
        margin-top: 20px;
        padding-left: 450px;
        z-index: 1;

      }
    }

  }
}
