@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


$h1font-color: #FFFFFF;
$pfont-color: #FFFFFF;
$h2font-color: #39729bff;

h1{
 margin: 100px 0 0 0;
 display: flex;
 justify-content: center;
}
body{
  overflow-x: hidden;
  background: rgb(15,5,107);
  background: linear-gradient( rgba(95,187,226,1) 1%, rgba(124,220,240,1) 100%) no-repeat;
  margin: 0;
  height: 100vh;
}
h1{
  color: $h1font-color;
  font-size: 52px;
  font-family: 'Sansita', sans-serif;
}
h2{
  color: $h2font-color;
  font-size: 45px;
  font-family: 'Sansita', sans-serif;
}
p{
  color: $pfont-color;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.hidden{
  position: absolute;
  left: -5000px;
}
.circle-light{
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    background-color: #60AAFF;
  }
.circle-light-around-circle{
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    border: 8px solid #60AAFF;
    background-color: rgba(0, 0, 0, 0);
  }
  .circle-white{
      border-radius: 100%;
      position: absolute;
      z-index: 1;
      background-color: $pfont-color;
    }
  .circle-white-around-circle{
      border-radius: 100%;
      position: absolute;
      z-index: 1;
      border: 8px solid $pfont-color;
      background-color: rgba(0, 0, 0, 0);
    }

  section.nuages{
    img{
      position: absolute;
      width: 500px;
    }
    img:nth-child(1){
      left: 20%;
      top: 100px;
      transition: 1.6s;
    }
    img:nth-child(2){
      left: 70%;
      transition: 1.4s;
    }
  }
  .oiseaux{
    img{
      position: absolute;
      z-index: 0;
    }
    img:nth-child(1){
      left: 47%;
      top: 385px;
      transition: 1.6s;
      width: 80px;
    }
    img:nth-child(2){
      left: 55%;
      top: 355px;
      transition: 1.4s;
      width: 80px;
    }
    img:nth-child(3){
      left: 50%;
      top: 300px;
      transition: 0.5s;
      width: 80px;
    }
  }


section.contact{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  section.formulaire{
    margin-top: 200px;
    width: 70%;
    .circle-light{
      margin-left: -430px;
      margin-top: 25px;
      width: 90px;
      height: 90px;
    }
    .circle-light-around-circle{
      margin-top: 15px;
      width: 94px;
      height: 94px;
      margin-left: -430px;
    }
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2{
      z-index: 2;
      color: $pfont-color;
      margin-bottom: 90px;
    }
    width: 50%;
    .upper-form{
      width: 450px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      .left-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .right-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
    textarea{
      margin-top: 12px;
      width: 400px;
      color: #77C6E7;
      font-family: 'Roboto', sans-serif;
      border-radius: 10px;
      border: none;
      padding: 20px 30px 7px 20px;
      color: #77C6E7;
      font-family: 'Roboto', sans-serif;
      resize: none;
    }
    textarea::placeholder{
      color: #77C6E7;
      font-family: 'Roboto', sans-serif;
    }
    textarea:focus, input:focus{
      outline: none;
    }
    input{
      width: 150px;
      border-radius: 10px;
      border: none;
      padding: 7px 30px 7px 20px;
      color: #77C6E7;
      font-family: 'Roboto', sans-serif;
    }
    input::placeholder{
      color: #77C6E7;
      font-family: 'Roboto', sans-serif;
    }
    button{
      margin-top: 20px;
      width: 150px;
      border-radius: 20px;
      border: none;
      padding: 10px 40px 10px 40px;
      color: #77C6E7;
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      background-color: $pfont-color;
    }
  }

  section.infoPerso{
    width: 500px;
    margin-top: 350px;

    h2{
    }
  }
}
