$h1font-color: #FFFFFF;
$pfont-color: #FFFFFF;
$h2font-color: #39729bff;
html {
    overflow-x: hidden;
}
body {
    background: rgb(15,5,107);
    background: linear-gradient( rgba(95,187,226,1) 1%, rgba(124,220,240,1) 100%) no-repeat;
    display: inline-flex;
    width: 100%;
    margin-bottom: 200px;
}
.sectionCoter {
    width: 35%;
    .PPNuage {
        #nuage {
            width: 650px;
            margin-left: -150px;
            position: absolute;
            z-index: 1;
        }
        #PP {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            object-fit: cover;
            position: relative;
            margin-left: 120px;
            margin-top: 120px;
            z-index: 2;
        }
    }
    ul {
        margin-top: 150px;
        margin-left: 100px;
        color: white;
        list-style-type: none;
        border-right: 8px solid white;
        width: 250px;
        li {
            margin-top: 100px;
            font-size: 20px;
            font-weight: bold;
        }
        #selectedLi {
            color: #39729B;
        }
    }
    #lescercles {
        margin-top: -310px;
        .circle {
            width: 100px;
            height: 100px;
            margin-left: 150px;
            margin-top: 30px;
            
            .circle-white {
                width: 50px;
                height: 50px;
                background-color: white;
                border-radius: 100%;
                margin-left: -100px;
                margin-top: -10px;
            }
            .circle-white-around-cirle {
                width: 60px;
                height: 60px;
                background-color: transparent;
                border: 5px solid white;
                position: absolute;
                border-radius: 100%;
                margin-left: -110px;
                margin-top: -10px;
            }
            .selectedcircle {
                background-color: #39729B;
            }
            .selectedArroundCircle {
                border-color: #39729B;
            }
        } 
    } 
    #lesOiseauxCompte {
        margin-top: 50px;
        img {
            position: absolute;
            width: 180px;
        }
        #oiseau1compte {
            margin-top: 175px;
            margin-left: 125px;
        }
        #oiseau2compte {
            margin-left: 20px;
        }
        #oiseau3compte {
            margin-top: 40px;
            margin-left: 250px;
        }
    }
}
.sectionAuteCoter {
    width: 65%;
    #bulle {
        margin-top: 100px;
        .circle-transparent-white{
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background-color: $pfont-color;
            opacity: 0.5;
            right: 14%;
            margin-top: 40px;
            position: absolute;
            z-index: 4;
        }
        .circle-transparent-blue{
            width: 200px;
            height: 200px;
            border-radius: 100%;
            background-color: #60AAFF;
            opacity: 1;
            right: 13%;
            margin-top: -105px;
            position: absolute;
            z-index: 3;
        }
    }
    #lescommandes {
        margin-top: 250px;
        margin-left: 150px;
        border-right: 8px solid white;
        padding-right: 50px;
        width: 600px;
        .commande {
            border: 2px solid white;
            width: 600px;
            margin-top: 50px;
            border-radius: 25px;
            vertical-align: middle;
            h2 {
                text-align: center;
                color: #39729B;
            }
            .image {
                img {
                    display: inline-block;
                    width: 200px;
                    margin-left: 25px;
                    border-radius: 25px;
                    vertical-align: middle;
                }
                ul {
                    display: inline-block;
                    vertical-align: middle;
                    list-style-type: none;
                    li {
                        margin: 20px 0 20px 0;
                        color: white;
                        font-size: 20px;
                    }
                }
            }
            p {
                text-align: center;
                color: white;
                font-size: 20px;
            }
        }
    } 
}
