$h1font-color: #FFFFFF;
$pfont-color: #FFFFFF;
$h2font-color: #39729bff;
html {
    overflow-x: hidden;
}
body {
    background: rgb(15,5,107);
    background: linear-gradient( rgba(95,187,226,1) 1%, rgba(124,220,240,1) 100%) no-repeat;
    display: inline-flex;
    width: 100%;
    margin-bottom: 300px;
}
.sectionCoter {
    width: 35%;
    .PPNuage {
        #nuage {
            width: 650px;
            margin-left: -150px;
            position: absolute;
            z-index: 1;
        }
        #PP {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            object-fit: cover;
            position: relative;
            margin-left: 120px;
            margin-top: 120px;
            z-index: 2;
        }
    }
    ul {
        margin-top: 150px;
        margin-left: 100px;
        color: white;
        list-style-type: none;
        border-right: 8px solid white;
        width: 250px;
        li {
            margin-top: 100px;
            font-size: 20px;
            font-weight: bold;
        }
        #selectedLi {
            color: #39729B;
        }
    }
    #lescercles {
        margin-top: -310px;
        .circle {
            width: 100px;
            height: 100px;
            margin-left: 150px;
            margin-top: 30px;

            .circle-white {
                width: 50px;
                height: 50px;
                background-color: white;
                border-radius: 100%;
                margin-left: -100px;
                margin-top: -10px;
            }
            .circle-white-around-cirle {
                width: 60px;
                height: 60px;
                background-color: transparent;
                border: 5px solid white;
                position: absolute;
                border-radius: 100%;
                margin-left: -110px;
                margin-top: -10px;
            }
            .selectedcircle {
                background-color: #39729B;
            }
            .selectedArroundCircle {
                border-color: #39729B;
            }
        }
    }
}
.sectionAuteCoter {
    width: 65%;
    #bulle {
        margin-top: 100px;
        .circle-transparent-white{
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background-color: $pfont-color;
            opacity: 0.5;
            right: 14%;
            margin-top: 40px;
            position: absolute;
            z-index: 4;
        }
        .circle-transparent-blue{
            width: 200px;
            height: 200px;
            border-radius: 100%;
            background-color: #60AAFF;
            opacity: 1;
            right: 13%;
            margin-top: -105px;
            position: absolute;
            z-index: 3;
        }
    }

    #LesCommentaires {
        margin-top: 300px;
        border-right: 8px solid white;
        padding-right: 50px;
        width: 600px;
        .commentaire {
            margin-top: 100px;
            width: 600px;
            .topCommentaire {

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    object-fit: cover;
                    display: inline-block;
                    vertical-align: middle;
                }
                div {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 25px;
                    h2 {
                        color: #39729B;
                    }
                    p {
                        color: #39729B;
                        font-weight: bold;
                    }
                }
            }
            p {
                color: white;
                font-weight: bold;
            }
        }
    }

    #lesOiseauxCompte {
        margin-left: 50%;

        img {
            position: absolute;
            width: 180px;
        }
        #oiseau1compte {
            margin-top: 120px;
            margin-left: 200px;
        }
        #oiseau2compte {
            margin-left: 40px;
        }
        #oiseau3compte {
            margin-top: -100px;
            margin-left: 250px;
        }
    }

}

@media screen and (min-width: 0px) and (max-width: 1180px) {
    body {
        display: block;
        margin-bottom: 350px;
    }
    .sectionCoter {
        width: 100%;
        .PPNuage {
            #nuage {
                width: 100%;
                position: absolute;
                z-index: 1;
                margin-left: auto;
                display: none;
            }
            #PP {

                width: 100px;
                height: 100px;
                border-radius: 100%;
                object-fit: cover;
                position: relative;
                margin-left: 50%;
                margin-right: 50%;
                margin-top: 120px;
                z-index: 2;
            }
        }
        ul {
            width: 50%;
            margin-left: 25%;
            text-align: center;
        }
        #lescercles {
            margin-left: 20%;
        }
    }
    .sectionAuteCoter {
        width: 100%;
        #LesCommentaires {
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
        #bulle {
            padding-bottom: 10px;

        }
        #lesOiseauxCompte {
            margin-top: 150px;
            #oiseau1compte {
                margin-top: 0px;
                margin-left:350px;
            }
            #oiseau2compte {
                margin-top: -80px;
                margin-left: 150px;
            }
            #oiseau3compte {
                margin-top: -200px;
                margin-left: 370px;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 615px) {
    .sectionCoter {
        #lescercles {
            margin-left: 5%;
        }
    }
}
